<div id="formulario-pergunta" class="container">
    <div class="card">
        <div class="card-header">
            <h3>Realizar Pergunta</h3>
        </div>
        <div class="card-body">
            <form action="/salvar-pergunta" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Título" name="titulo">
                </div>
                <div class="form-group">
                    <textarea cols="30" rows="10" class="form-control" placeholder="Escreva sua pergunta" name="descricao"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Perguntar</button>
                </div>
            </form>
        </div>
    </div>
</div>