<%- include partials/header.ejs %>
<body>
    <%- include partials/navbar.ejs %>
    <div id="box" class="container">
        <hr>
        <h1>Perguntas</h1>
        <a href="/perguntar" class="btn btn-success">Perguntar</a>
        <hr>

        <div class="row">
            <% perguntas.forEach(pergunta => { %>
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h3><%= pergunta.titulo %></h3>
                        </div>
                        <div class="card-footer">
                            <a href="/pergunta/<%= pergunta.id %>">
                                <button class="btn btn-success">Responder</button>
                            </a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
<%- include partials/footer.ejs %>