<%- include partials/header.ejs %>
<body>
    <%- include partials/navbar.ejs %>
    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <p><%= pergunta.descricao %></p>
        <hr>
        <form action="/responder" method="POST">
            <div class="form-group">
                <h3>Responda</h3>
                <label for="corpo"><small>Responda:</small></label>
                <textarea name="corpo" id="corpo" cols="30" rows="10" class="form-control" placeholder="Digite sua resposta"></textarea>
                <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Responder</button>
            </div>
        </form>
        <hr>
        <h3>Respostas</h3>
        <% respostas.forEach(resposta => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <%= resposta.corpo %>
                </div>
            </div>
        <% }); %>
    </div>
</body>
<%- include partials/footer.ejs %>