body {
    background-color: #eceff1;
}
#header .navbar-brand {
    color: #F9F9F9;
}
#formulario-pergunta {
    margin-top: 5vh;
}
#box {
    margin-top: 5vh;
}
#box .card {
    margin-bottom: 2.5vh;   
}